<configuration>

    <!-- 🌱 Load application name from Spring environment -->
    <springProperty scope="context" name="appName" source="spring.application.name" />

    <!-- 🧪 Development Profile -->
    <springProfile name="dev &amp; prettylog">
        <appender name="DEV_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <layout class="ch.qos.logback.contrib.json.classic.JsonLayout">
                <jsonFormatter
                    class="ch.qos.logback.contrib.jackson.JacksonJsonFormatter">
                    <prettyPrint>true</prettyPrint>
                </jsonFormatter>
                <timestampFormat>yyyy-MM-dd' 'HH:mm:ss.SSS</timestampFormat>
            </layout>
        </appender>

        <root level="INFO">
            <appender-ref ref="DEV_CONSOLE" />
        </root>
    </springProfile>


    <!-- 🚀 Production Profile -->
    <springProfile name="prod">
        <appender name="PROD_CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LogstashEncoder">
                <prettyPrint>false</prettyPrint>
                <customFields>{"env":"prod"}</customFields>
            </encoder>
        </appender>

        <!-- <logger name="br.com.jhegner.o11ylabs" level="INFO" additivity="false">
            <appender-ref ref="PROD_CONSOLE" />
        </logger> -->

        <root level="WARN">
            <appender-ref ref="PROD_CONSOLE" />
        </root>
    </springProfile>

</configuration>